<mat-toolbar color="primary">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a mat-button routerLink="/epilepsy" i18n-routerLink="@@routerLink-epilepsy">
      <mat-icon svgIcon="logo" class="logo"></mat-icon>
      <span class="mat-title">Lime Tracker</span>
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap=".5em" fxHide fxShow.gt-sm>
    <a mat-icon-button routerLink="/profile" i18n-routerLink="@@routerLink-profile">
      <mat-icon>person</mat-icon>
    </a>
    <a mat-icon-button routerLink="/logout" i18n-routerLink="@@routerLink-logout">
      <mat-icon>logout</mat-icon>
    </a>
  </div>
</mat-toolbar>
