<mat-toolbar color="primary">
  <div class="hide-gt-sm">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a mat-button routerLink="/epilepsy" i18n-routerLink="@@routerLink-epilepsy">
      <mat-icon svgIcon="logo" class="logo"></mat-icon>
      <span class="mat-title">Lime Tracker</span>
    </a>
  </div>
  <div class="flex-1 flex-row show-gt-sm gap-small justify-end">
    <a mat-icon-button routerLink="/account" i18n-routerLink="@@routerLink-account">
      <ng-container *ngIf="userDetails$ | async as userData; else userDetailsLoading">
          <mat-icon *ngIf="userData.isFemale">person_2</mat-icon>
          <mat-icon *ngIf="!userData.isFemale">person</mat-icon>
      </ng-container>
      <ng-template #userDetailsLoading>
        <mat-icon>person</mat-icon>
      </ng-template>
    </a>
    <a mat-icon-button routerLink="/logout" i18n-routerLink="@@routerLink-logout">
      <mat-icon>logout</mat-icon>
    </a>
  </div>
</mat-toolbar>
