@use "@angular/material" as mat;
@use "app-theme-variables" as app;

.app-logo-button {
  font-size: mat.m2-font-size(app.$app-typography, "headline-6");

  .logo-icon {
    padding-right: 0.5rem;
    display: flex;
    align-self: center;
  }
}

@media print {
  .hamburger-menu {
    display: none;
  }
}
