<mat-toolbar class="page-header" role="heading">
  @if (id) {
    <h1 i18n="@@title-update-period">Update Period</h1>
  }
  @if (!id) {
    <h1 i18n="@@title-add-period">Add Period</h1>
  }
</mat-toolbar>

<main>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex-grow flex-col gap-normal justify-start items-start"
    >
    @if (error) {
      <mat-card class="app-error" color="warn">
        <span i18n="@@error-with-message">Error: {{ error }}</span>
      </mat-card>
    }


    <mat-form-field appearance="fill">
      <mat-label i18n="@@label-period-start-date">Start date</mat-label>
      <input
        formControlName="startDate"
        [matDatepicker]="pickerStart"
        [max]="form.get('endDate')?.value || today.toDate()"
        matInput
        />
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>

      @if (hasError('startDate', 'required')) {
        <mat-error i18n="@@error-start-date-required"
          >Start date is required</mat-error
          >
        }
        @if (hasError('startDate', 'invalid')) {
          <mat-error i18n="@@error-start-date-invalid"
            >Start date is invalid</mat-error
            >
          }
          @if (hasError('startDate', 'future')) {
            <mat-error i18n="@@error-start-date-in-future"
              >Start date cannot be in the future</mat-error
              >
            }
            @if (!hasError('startDate', 'future') && hasError('startDate', 'matDatepickerMax')) {
              <mat-error
                i18n="@@error-start-date-after-end-date"
                >Start date cannot be after end date</mat-error
                >
              }
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label i18n="@@label-period-end-date">End date</mat-label>
              <input
                formControlName="endDate"
                [matDatepicker]="pickerEnd"
                [max]="today.toDate()"
                [min]="form.get('startDate')?.value"
                matInput
                />
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>

              @if (hasError('endDate', 'required')) {
                <mat-error i18n="@@error-end-date-required"
                  >End date is required</mat-error
                  >
                }
                @if (hasError('endDate', 'invalid')) {
                  <mat-error i18n="@@error-end-date-invalid"
                    >End date is invalid</mat-error
                    >
                  }
                  @if (hasError('endDate', 'future') || hasError('endDate', 'matDatepickerMax')) {
                    <mat-error
                      i18n="@@error-end-date-in-future"
                      >End date cannot be in the future</mat-error
                      >
                    }
                    @if (hasError('endDate', 'isBefore') || hasError('endDate', 'matDatepickerMin')) {
                      <mat-error
                        i18n="@@error-end-date-before-start-date"
                        >End date cannot be before start date</mat-error
                        >
                      }
                    </mat-form-field>

                    <div>
                      @if (id) {
                        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid || submitting" [class.spinner]="submitting">
                          <ng-container i18n="@@action-update">Update</ng-container>
                        </button>
                      }
                      @if (!id) {
                        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid || submitting" [class.spinner]="submitting">
                          <ng-container i18n="@@action-add-period">Add period</ng-container>
                        </button>
                      }

                      <a mat-raised-button routerLink="/epilepsy/periods" i18n-routerLink="@@routerLink-epilepsy-periods" i18n="@@action-cancel">Cancel</a>
                    </div>
                  </form>

                  <ng-template #loading>
                    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                  </ng-template>
                </main>
