<mat-nav-list>
  <a mat-list-item routerLink="/epilepsy" i18n-routerLink="@@routerLink-epilepsy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onClose()">
    <mat-icon>dashboard</mat-icon> <span i18n="@@title-dashboard">Dashboard</span>
  </a>
  <a mat-list-item routerLink="/epilepsy/charts" i18n-routerLink="@@routerLink-epilepsy-charts" routerLinkActive="active" (click)="onClose()">
    <mat-icon>auto_graph</mat-icon> <span i18n="@@title-charts">Charts</span>
  </a>
  <a mat-list-item routerLink="/epilepsy/reports" i18n-routerLink="@@routerLink-epilepsy-reports" routerLinkActive="active" (click)="onClose()">
    <mat-icon>summarize</mat-icon> <span i18n="@@title-reports">Reports</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/epilepsy/seizures" i18n-routerLink="@@routerLink-epilepsy-seizures" routerLinkActive="active" (click)="onClose()">
    <mat-icon>warning</mat-icon> <span i18n="@@title-seizures">Seizures</span>
  </a>
  <a mat-list-item routerLink="/epilepsy/medications" i18n-routerLink="@@routerLink-epilepsy-medications" routerLinkActive="active" (click)="onClose()">
    <mat-icon>medication</mat-icon> <span i18n="@@title-medications">Medications</span>
  </a>
  <a mat-list-item routerLink="/epilepsy/events" i18n-routerLink="@@routerLink-epilepsy-events" routerLinkActive="active" (click)="onClose()">
    <mat-icon>event</mat-icon> <span i18n="@@title-events">Events</span>
  </a>

  <mat-divider></mat-divider>
  <a mat-list-item href="/en" *ngIf="locale === 'pl'">
    <mat-icon>language</mat-icon> <span i18n="@@title-language">English</span>
  </a>
  <a mat-list-item href="/en" *ngIf="locale !== 'pl'">
    <mat-icon>language</mat-icon> <span i18n="@@title-language">Polski</span>
  </a>

  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/logout" i18n-routerLink="@@routerLink-epilepsy-logout" routerLinkActive="active" (click)="onClose()">
    <mat-icon>logout</mat-icon> <span i18n="@@title-logout">Log out</span>
  </a>
</mat-nav-list>
