@if (userDetails$ | async; as userData) {
  <mat-toolbar class="page-header" role="heading">
    <h1 i18n="@@title-profile-name">Hi, {{userData.name}}</h1>
  </mat-toolbar>
  <main>
    @if (error && !submitting) {
      <div class="row">
        <mat-error>
          <span i18n="@@error-update-profile-failed">Update profile failed: {{ error }}</span>
        </mat-error>
      </div>
    }
    <div class="row">
      @if (!error && submitting) {
        <mat-progress-spinner mode="indeterminate" [diameter]="20"></mat-progress-spinner>
      }
      @if (!submitting) {
        <mat-slide-toggle i18n="@@label-i-am-female" [checked]="userData.isFemale" (change)="onChange($event)">I am female</mat-slide-toggle>
      }
    </div>
    <mat-divider class="row"></mat-divider>
    <div class="row">
      <a mat-raised-button routerLink="/epilepsy/seizures" i18n-routerLink="@@routerLink-epilepsy-seizures"
      i18n="@@action-edit-seizure-types" disabled>Edit seizure types</a>
    </div>
    <div class="row">
      <a mat-raised-button routerLink="/epilepsy/seizures" i18n-routerLink="@@routerLink-epilepsy-seizures"
      i18n="@@action-edit-seizure-triggers" disabled>Edit seizure triggers</a>
    </div>
  </main>
} @else {
  <main>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </main>
}

