<main fxFlex fxFill fxLayoutAlign="center start">
  <div>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-align-tabs="center">
      <a
        mat-tab-link
        routerLink="/login"
        routerLinkActive
        #routeLogin="routerLinkActive"
        [active]="routeLogin.isActive"
        >Log in</a
      >
      <a
        mat-tab-link
        routerLink="/register"
        routerLinkActive
        #routeRegister="routerLinkActive"
        [active]="routeRegister.isActive"
        >New User</a
      >
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</main>
