<app-error-card [error]="error" *ngIf="error"></app-error-card>

<ng-container *ngIf="!error">
  <mat-progress-spinner mode="indeterminate" *ngIf="!chartOptions"></mat-progress-spinner>

  <apx-chart
    *ngIf="chartOptions"
    [series]="chartOptions.series"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [title]="chartOptions.title"
    [subtitle]="chartOptions.subtitle"
    [chart]="{height: 250, type: 'heatmap'}"
    [dataLabels]="{enabled: false}"
    [plotOptions]="plotOptions"></apx-chart>
</ng-container>
