@use "@angular/material" as mat;
@use "../../../app-theme-variables" as app;

table {
  width: 100%;
  margin-bottom: 2em;
}

td.actions {
  white-space: nowrap;
}

td.disabled {
  color: mat.m2-get-color-from-palette(app.$app-foreground, "secondary-text");
}

td.lineThrough {
  text-decoration: line-through;
}

section.add {
  margin: 2em 1em;
}

section.load {
  margin: 0 1em 2em;
}

@media print {
  .mat-mdc-raised-button {
    display: none;
  }
}
