@use "@angular/material" as mat;
@import "src/app/app-theme-variables";

table {
  width: 100%;
  margin-bottom: 2em;
}

td.actions {
  white-space: nowrap;
}

td.disabled {
  color: mat.get-color-from-palette($app-foreground, "secondary-text");
}

td.lineThrough {
  text-decoration: line-through;
}

section.add {
  margin: 2em 1em;
}

section.load {
  margin: 0 1em 2em;
}

@media print {
  .mat-raised-button {
    display: none;
  }
}
