<ng-container *ngIf="{options: chartOptions$ | async, error: chartError$ | async} as chart">
  <apx-chart
    *ngIf="!chart.error && chart.options; else loading"
    [series]="chart.options.series"
    [chart]="chart.options.component"
    [xaxis]="chart.options.xaxis"
    [markers]="chart.options.markers"
    [stroke]="chart.options.stroke"
    [yaxis]="chart.options.yaxis"
    [dataLabels]="chart.options.dataLabels"
    [title]="chart.options.title"
    [subtitle]="chart.options.subtitle"
    [fill]="chart.options.fill"
    [tooltip]="chart.options.tooltip"
    [legend]="chart.options.legend"
  ></apx-chart>

  <ng-template #loading>
    <mat-progress-spinner *ngIf="!chart.error" mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</ng-container>
