@if ({options: chartOptions$ | async, error: chartError$ | async}; as chart) {
  @if (!chart.error && chart.options) {
    <apx-chart
      [series]="chart.options.series"
      [xaxis]="chart.options.xaxis"
      [yaxis]="chart.options.yaxis"
      [title]="chart.options.title"
      [subtitle]="chart.options.subtitle"
      [chart]="{height: '350', type: 'line', toolbar: {show: false}, zoom: {enabled: false}}"
      [markers]="{size: [6, 6]}"
      [stroke]="{width: [1, 1, 4]}"
      [dataLabels]="{enabled: false}"
      [fill]="{type: 'solid'}"
      [tooltip]="{shared: false, intersect: true}"
      [legend]="{show: true}"
    ></apx-chart>
  } @else {
    @if (!chart.error) {
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    }
  }
  @if (chart.error) {
    <app-error-card [error]="chart.error"></app-error-card>
  }
}
