@use "@angular/material" as mat;
@import "src/app/app-theme-variables";

mat-nav-list {
  width: 250px;

  mat-icon {
    margin: 0 0.5em 0 0;
  }
}

.active {
  color: mat.get-color-from-palette($app-primary, "darker");
  background: mat.get-color-from-palette($app-primary, "lighter", 0.15);

  &:hover {
    background: mat.get-color-from-palette($app-primary, "lighter", 0.3);
  }
}
