@use '@angular/material' as mat;
@import "src/app/app-theme-variables";

mat-nav-list {
  width: 250px;
  mat-icon {
    padding-right: .5rem;
  }
}

mat-icon {
  opacity: $app-icon-opacity;
}

.active {
  color: mat.get-color-from-palette($app-primary, 'darker');
  background: mat.get-color-from-palette($app-primary, 'lighter', .15);

  &:hover{
    background: mat.get-color-from-palette($app-primary, 'lighter', .3);
  }
}
