<mat-nav-list>
  <a mat-list-item routerLink="/epilepsy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onClose()">
    <mat-icon>dashboard</mat-icon> <span>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/epilepsy/charts" routerLinkActive="active" (click)="onClose()">
    <mat-icon>auto_graph</mat-icon> <span>Charts</span>
  </a>
  <a mat-list-item routerLink="/epilepsy/reports" routerLinkActive="active" (click)="onClose()">
    <mat-icon>event</mat-icon> <span>Reports</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>logout</mat-icon> <span>Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
