<section class="justify-center items-center">
  <mat-card class="app-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="app-card-title">
        <div class="flex-1 justify-start items-center">
          <mat-icon svgIcon="logo" class="logo"></mat-icon>
          <span>Lime Tracker</span>
        </div>
      </mat-card-title>
      <mat-card-subtitle i18n="@@verify-welcome">Almoast there</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image width="400" height="200" src="https://source.unsplash.com/random/400x200/?limes" />

    <ng-container *ngIf="userDetails$ | async as userData; else loading">
      <mat-card-content>
        <h1 i18n="@@verify-header">Thank You for Registering!</h1>

        <p i18n="@@verify-email-sent">We have sent a confirmation email.</p>

        <p class="userData">
          <ng-container i18n="@@verify-email-sent-to">To</ng-container>
          <span> {{ userData.email }}</span>.
        </p>

        <p class="userData" *ngIf="userData.emailVerificationSent">
          <ng-container i18n="@@verify-email-sent-date">At</ng-container>
          <span> {{ userData.emailVerificationSent | moment: "LLL" }}</span>.
          <small i18n="@@verify-email-resend-info">Resend possible after an hour.</small>
        </p>

        <p i18n="@@verify-check-email">Please check your email and click on the link to verify your email address.</p>
      </mat-card-content>

      <mat-card-actions>
        <ng-container *ngIf="oneHourAgo$ | async as hourAgo">
          <button mat-raised-button color="secondary" (click)="onEmailSend()"
            *ngIf="userData.emailVerificationSent && userData.emailVerificationSent.isBefore(hourAgo)"
            i18n="@@verify-button-resend">Re-send confirmation email</button>
        </ng-container>

        <a mat-raised-button color="secondary" routerLink="/logout" i18n="@@login-action" i18n-routerLink="@@routerLink-logout">Log in</a>
      </mat-card-actions>
    </ng-container>

    <ng-template #loading>
      <mat-card-content>
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </mat-card-content>
    </ng-template>
  </mat-card>
</section>
