<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a mat-button routerLink="/epilepsy"
      ><mat-icon svgIcon="logo" class="logo"></mat-icon
      ><span class="mat-title">Lime Tracker</span></a
    >
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <a mat-button routerLink="/epilepsy/charts">Charts</a>
    <a mat-button routerLink="/epilepsy/events">Events</a>
    <a mat-button>Logout</a>
  </div>
</mat-toolbar>
