<mat-nav-list>
  <a mat-list-item class="mat-title" routerLink="/epilepsy" (click)="onClose()">
    <mat-icon svgIcon="logo" class="logo"></mat-icon> <span>Lime Tracker</span>
  </a>
  <a mat-list-item routerLink="/epilepsy" (click)="onClose()">
    <mat-icon>dashboard</mat-icon> <span>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/epilepsy/charts" (click)="onClose()">
    <mat-icon>auto_graph</mat-icon> <span>Charts</span>
  </a>
  <a mat-list-item routerLink="/epilepsy/events" (click)="onClose()">
    <mat-icon>event</mat-icon> <span>Events</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>logout</mat-icon> <span>Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
