@use "@angular/material" as mat;
@import "src/app/app-layout";
@import "src/app/app-theme-variables";

section {
  padding: 1rem 1rem 0;
  .app-card {
    display: flex;
    flex-direction: column;
  }
  .app-card-content {
    flex-grow: 1;
    margin-top: 1em;
  }
}

section.info {
  .app-card {
    margin: 0 0 1em 0;
  }

  .app-text-muted {
    color: mat.get-color-from-palette($app-foreground, "secondary-text");
  }
}

.flex-row-wrap-gt-xs {
  @include layout-bp(gt-xs) {
    display: flex; flex-direction: row;
    flex-wrap: wrap;
  }
}

@include layout-bp(gt-xs) {
  section.info {
    .app-card {
      min-width: 15em;
      margin: 0 1em 1em 0;
    }
  }
}

@media print {
  .mat-mdc-raised-button {
    display: none;
  }
}
