<mat-toolbar class="page-header" role="heading">
  <h1 i18n="@@title-dashboard">Dashboard</h1>
</mat-toolbar>

<main>
  <section class="actions" fxLayout="column" fxLayoutAlign="center stretch">
    <mat-card>
      <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around center">
        <a mat-raised-button color="warn" routerLink="/epilepsy/seizures/add" i18n-routerLink="@@routerLink-epilepsy-seizures-add" i18n="@@dashboard-action-add-seizure">Attack!</a>
        <a mat-raised-button color="primary" routerLink="/epilepsy/medications/add" i18n-routerLink="@@routerLink-epilepsy-medications-add" i18n="@@dashboard-action-add-medication">Medication</a>
        <a mat-raised-button color="basic" routerLink="/epilepsy/events/add" i18n-routerLink="@@routerLink-epilepsy-events-add" i18n="@@dashboard-action-add-event">Event</a>
      </mat-card-content>
    </mat-card>
  </section>

  <section
    class="info"
    fxLayout="column"
    fxLayout.gt-xs="row"
    fxLayoutGap="1em"
    fxLayoutAlign="center stretch"
  >
    <mat-card
      class="last-seizure"
      *ngIf="lastSeizures$ | async as lastSeizures; else loadingOrErrorSeizures"
    >
      <mat-card-title-group>
        <mat-card-title i18n="@@dashboard-title-last-seizure">Last seizure</mat-card-title>
        <mat-card-subtitle *ngIf="lastSeizures.length === 1">{{
          lastSeizures[0].occurred | moment: "LL"
        }}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <h3 i18n="@@dashboard-time-since-last-seizure">Time since last seizure:</h3>
        <p class="mat-display-3" *ngIf="lastSeizures.length !== 1" i18n="@@dashboard-time-since-last-seizure-unknown">unknown</p>
        <p class="mat-display-3" *ngIf="lastSeizures.length === 1">
          {{ lastSeizures[0].occurred | timeSince | humanize }}
        </p>
      </mat-card-content>
    </mat-card>

    <ng-template #loadingOrErrorSeizures>
      <app-error-card [error]="seizureError" *ngIf="seizureError; else loadingSeizures"></app-error-card>
      <ng-template #loadingSeizures>
        <mat-card class="last-seizure">
          <mat-card-title-group>
            <mat-card-title i18n="@@dashboard-title-last-seizure">Last seizure</mat-card-title>
          </mat-card-title-group>
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </mat-card>
      </ng-template>
    </ng-template>

    <mat-card
      class="medications"
      *ngIf="medications$ | async as medications; else loadingOrErrorMedications"
    >
      <mat-card-title-group>
        <mat-card-title i18n="@@dashboard-title-current-medications">Current medications</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <mat-list
          fxLayout="row wrap"
        >
          <mat-list-item *ngFor="let medication of medications">
            <mat-icon mat-list-icon>medication</mat-icon>
            <div mat-line>{{ medication.name }}</div>
            <div
              mat-line
              class="dose"
              [matTooltip]="
                medication.doses.morning +
                ' - ' +
                medication.doses.noon +
                ' - ' +
                medication.doses.evening
              "
            >
              {{ medication.doses.morning }} - {{ medication.doses.noon }} -
              {{ medication.doses.evening }}
            </div>
          </mat-list-item>

          <mat-list-item *ngIf="!medications.length">
            <mat-icon mat-list-icon>info_outline</mat-icon>
            <div mat-line i18n="@@no-data">No data</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <ng-template #loadingOrErrorMedications>
      <app-error-card [error]="medicationsError" *ngIf="medicationsError; else loadingMedications"></app-error-card>
      <ng-template #loadingMedications>
        <mat-card class="last-seizure">
          <mat-card-title-group>
            <mat-card-title i18n="@@dashboard-title-last-seizure">Last seizure</mat-card-title>
          </mat-card-title-group>
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </mat-card>
      </ng-template>
    </ng-template>
    </section>
</main>
