<section class="signup-form" fxLayoutAlign="center center">
  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <mat-card fxFlex>
      <mat-card-header>
        <mat-card-title>Sign-up to Lime Tracker</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://source.unsplash.com/random/400x200/?lime"
      />
      <mat-card-content fxLayout="column" fxLayoutGap="1rem">
        <mat-form-field>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Your email"
            email
            required
            matInput
            ngModel
            #emailInput="ngModel"
          />
          <mat-error *ngIf="emailInput.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="!emailInput.hasError('required')"
            >Email is invalid</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Your password"
            required
            minlength="6"
            matInput
            ngModel
            #passwordInput="ngModel"
          />
          <mat-error>Has to be at least 6 characters long</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            placeholder="Confirm password"
            required
            compareValidator="password"
            matInput
            ngModel
            #confirmPasswordInput="ngModel"
          />
          <mat-error *ngIf="confirmPasswordInput.hasError('required')"
            >Confirm password is required</mat-error
          >
          <mat-error *ngIf="!confirmPasswordInput.hasError('required')"
            >Password and confirm password must be the same</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!signupForm.valid"
        >
          Register
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
