<mat-toolbar class="page-header" role="heading">
  <h1 i18n="@@title-periods">Periods</h1>
</mat-toolbar>

<main>
  @if (error) {
    <app-error-card [error]="error" [full-size]="false"></app-error-card>
  }

  @if (!error) {
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="columns"
      addBtnLink="/epilepsy/periods/add"
      i18n-addBtnLink="@@routerLink-epilepsy-periods-add"
      addBtnText="Add period"
      i18n-addBtnText="@@action-add-period"
      updateLinkPrefix="/epilepsy/periods/update"
      i18n-updateLinkPrefix="@@routerLink-epilepsy-periods-update"
      [loading]="loading"
      [hasMore]="hasMore"
      (onDelete)="onDelete($event)"
      (onLoadMore)="onLoadMore()"
      (onRefresh)="onRefresh()"
    ></app-table>
  }
</main>
