@use "@angular/material" as mat;

$app-primary: mat.define-palette(mat.$light-green-palette, 500);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette);
$app-typography: mat.define-typography-config();

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
    typography: $app-typography,
  )
);

$app-foreground: map-get($app-theme, 'foreground');
$app-background: map-get($app-theme, 'background');

$app-icon-color: rgba(0, 0, 0, 0.54);
