@use "@angular/material" as mat;
@use "src/app/app-theme-variables" as app;
@use "src/app/app-layout";

:host ::ng-deep {
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid mat.m2-get-color-from-palette(app.$app-background, 'background');
    border-top-color: mat.m2-get-color-from-palette(app.$app-primary, 'darker');
    animation: spinner 0.8s linear infinite;
  }
}