<app-header (sidenavToggle)="sidenav.toggle()"></app-header>
<mat-sidenav-container  class="flex-col">
  <mat-sidenav #sidenav role="navigation" [mode]="!hideSideMenu ? 'side' : 'over'" [opened]="!hideSideMenu">
    <app-sidenav *ngIf="!hideSideMenu"></app-sidenav>
    <app-sidenav *ngIf="hideSideMenu" (sidenavClose)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
