main {
  max-width: 60em;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  min-height: 90vh;
}

mat-sidenav-container .mat-drawer-content {
  overflow: unset;
}

::ng-deep {
  // hack - bring back Date Time picker icon: https://stackoverflow.com/a/75298005
  .mdc-text-field__input::-webkit-calendar-picker-indicator {
    display: block !important;
  }
}

@media print {
  mat-sidenav {
    display: none;
  }

  mat-sidenav-content {
    margin: 0 !important;
  }

  main {
    max-width: 100%;
  }
}
