<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    i18n="@@tab-last-year"
    [routerLink]="linkPrefix"
    routerLinkActive
    [routerLinkActiveOptions]="{ exact: true }"
    #routeLastYear="routerLinkActive"
    [active]="routeLastYear.isActive"
    >Last year</a
  >

  <a
    *ngFor="let year of availableYears | slice: 1:3"
    mat-tab-link
    [routerLink]="linkPrefix + '/' + year"
    routerLinkActive
    [routerLinkActiveOptions]="{ exact: true }"
    #routeYearLoop="routerLinkActive"
    [active]="routeYearLoop.isActive"
  >
    {{ year }}
  </a>

  <button mat-button mat-tab-link [matMenuTriggerFor]="yearsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #yearsMenu="matMenu">
    <a
      *ngFor="let year of availableYears | slice: 3"
      mat-menu-item
      [routerLink]="linkPrefix + '/' + year"
      >{{ year }}</a
    >
  </mat-menu>
</nav>
