<section class="justify-center items-center">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #formDirective="ngForm">
    <mat-card class="app-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title class="app-card-title">
          <div class="flex-1 justify-start items-center">
            <mat-icon svgIcon="logo" class="logo"></mat-icon>
            <span i18n="@@app-short-title">Lime Tracker</span>
          </div>
        </mat-card-title>
        <mat-card-subtitle i18n="@@register-welcome"
          >Register to the best epilepsy journal!</mat-card-subtitle
          >
        </mat-card-header>

        <img
          mat-card-image
          src="assets/hero/limetracker-2.jpg"
          />

        @if (isLoading) {
          <mat-card-content class="flex-col gap-normal justify-center items-center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </mat-card-content>
        }

        @if (!isLoading) {
          <!-- form body -->
          <mat-card-content class="flex-col gap-normal">
            @if (error) {
              <mat-error>
                @switch (error) {
                  @case ('auth/email-already-in-use') {
                    <span i18n="@@error-email-taken"
                      >Email already taken</span
                      >
                    }
                    @case ('auth/weak-password') {
                      <span i18n="@@error-passwrod-weak"
                        >Password is too weak</span
                        >
                      }
                      @case ('auth/network-request-failed') {
                        <span i18n="@@error-connection"
                          >Connection to backend failed. Please try again, and if the problem persists,
                contact the <a href="https://www.webperfekt.pl/">administrator</a>.</span
                          >
                        }
                        @default {
                          <span i18n="@@register-error-default"
                            >Registration failed - try different data. If problem persists please contact the
                <a href="https://www.webperfekt.pl/">administrator</a>.</span
                            >
                          }
                        }
                      </mat-error>
                    }
                    <mat-form-field>
                      <input
                        type="text"
                        formControlName="name"
                        placeholder="Your name"
                        i18n-placeholder="@@placeholder-name"
                        matInput
                        />
                      @if (hasError('name', 'required')) {
                        <mat-error i18n="@@error-name-required"
                          >Your name is required</mat-error
                          >
                        }
                        @if (hasError('name', '!required')) {
                          <mat-error i18n="@@error-name-invalid"
                            >Your name is invalid</mat-error
                            >
                          }
                        </mat-form-field>
                        <mat-form-field>
                          <input
                            type="email"
                            formControlName="email"
                            placeholder="Your email"
                            i18n-placeholder="@@placeholder-email"
                            matInput
                            />
                          @if (hasError('email', 'required')) {
                            <mat-error i18n="@@error-email-required"
                              >Email is required</mat-error
                              >
                            }
                            @if (hasError('email', '!required')) {
                              <mat-error i18n="@@error-email-invalid"
                                >Email is invalid</mat-error
                                >
                              }
                            </mat-form-field>
                            <mat-form-field>
                              <input
                                type="password"
                                formControlName="password"
                                placeholder="Your password"
                                i18n-placeholder="@@placeholder-password"
                                matInput
                                />
                              <mat-error i18n="@@error-password-6-100">Has to be 6 - 100 characters long</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                              <input
                                type="password"
                                formControlName="confirmPassword"
                                placeholder="Confirm password"
                                i18n-placeholder="@@placeholder-confirm-password"
                                matInput
                                />
                              @if (hasError('confirmPassword', 'required')) {
                                <mat-error
                                  i18n="@@error-confirm-password-required"
                                  >Confirm password is required</mat-error
                                  >
                                }
                                @if (hasError('confirmPassword', '!required')) {
                                  <mat-error
                                    i18n="@@error-confirm-password-not-the-same"
                                    >Password and confirm password must be the same</mat-error
                                    >
                                  }
                                </mat-form-field>
                                <mat-checkbox formControlName="isFemale" matInput i18n="@@label-i-am-female">I am female</mat-checkbox>
                              </mat-card-content>
                              <mat-card-actions>
                                <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">
                                  <ng-container i18n="@@action-register">Register</ng-container>
                                </button>
                              </mat-card-actions>
                              <!-- /form body -->
                            }
                          </mat-card>
                        </form>
                      </section>
