<app-yearsnav linkPrefix="/epilepsy/charts" i18n-linkPrefix="@@routerLink-epilepsy-charts"></app-yearsnav>

<mat-toolbar class="page-header" role="heading">
  <h1 i18n="@@title-charts">Charts</h1>
</mat-toolbar>

<main id="chart">
  <app-chart-summary [titleOffset]="10"></app-chart-summary>

  <hr/>

  <app-chart-seizures-by-type [titleOffset]="10"></app-chart-seizures-by-type>

  <hr/>

  <app-chart-seizures-by-reason [titleOffset]="10"></app-chart-seizures-by-reason>

  <hr/>

  <app-chart-heatmap [titleOffset]="10"></app-chart-heatmap>

  <hr/>

  <app-chart-seizures-by-hours [titleOffset]="10"></app-chart-seizures-by-hours>
</main>
