<mat-toolbar class="page-header" role="heading">
  <h1>{{ id ? "Update Seizure" : "Add Seizure" }}</h1>
</mat-toolbar>

<main>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    fxFlex
    fxLayout="column"
    fxLayoutAlign="start start"
    fxLayoutGap="1em"
    *ngIf="auth.userData$ | async as userData; else loading"
  >
    <mat-error *ngIf="error">
      <span>Error: {{ error }}</span>
    </mat-error>

    <mat-form-field appearance="fill">
      <mat-label>Occurred date</mat-label>
      <input
        type="text"
        formControlName="occurredDate"
        id="occurredDate"
        [matDatepicker]="picker"
        matInput
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="hasError('occurredDateInput', 'required')">
        Occurred date is required
      </mat-error>
      <mat-error *ngIf="!hasError('occurredDateInput', 'required')">
        Occurred date is invalid
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Occurred time</mat-label>
      <input type="time" formControlName="occurredTime" id="occurredTime" matInput />
      <mat-error *ngIf="hasError('occurredTimeInput', 'required')">
        Occurred time is required
      </mat-error>
      <mat-error *ngIf="!hasError('occurredTimeInput', 'required')">
        Occurred time is invalid
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Duration (min)</mat-label>
      <input
        type="number"
        formControlName="duration"
        id="duration"
        placeholder="5"
        min="1"
        matInput
      />
      <mat-error *ngIf="hasError('durationInput', 'required')">
        Seizure duration is required
      </mat-error>
      <mat-error *ngIf="!hasError('durationInput', 'required')">
        Seizure duration is invalid
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="seizureType" id="seizureType">
        <mat-option *ngFor="let type of userData.seizureTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('typeInput', 'required')">Seizure type is required</mat-error>
      <mat-error *ngIf="!hasError('typeInput', 'required')">Seizure type is invalid</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Trigger</mat-label>
      <mat-select formControlName="seizureTrigger" id="seizureTrigger">
        <mat-option></mat-option>
        <mat-option *ngFor="let trigger of userData.seizureTriggers" [value]="trigger">
          {{ trigger }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('triggerInput', 'required')">
        Seizure trigger is required
      </mat-error>
      <mat-error *ngIf="!hasError('triggerInput', 'required')">
        Seizure trigger is invalid
      </mat-error>
    </mat-form-field>

    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">
        {{ id ? "Update" : "Add seizure" }}
      </button>

      <a mat-raised-button routerLink="/epilepsy/seizures">Cancel</a>
    </div>
  </form>

  <ng-template #loading>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</main>
