<mat-toolbar class="page-header" role="heading">
  <h1>Seizures</h1>
</mat-toolbar>

<main>
  <app-table *ngIf="data$ | async as results; else loading"
    [dataSource]="results"
    [displayedColumns]="columns"
    addBtnLink="/epilepsy/seizures/add"
    addBtnText="Add seizure"
    updateLinkPrefix="/epilepsy/seizures/update"
    (onDelete)="onDelete($event)"
  ></app-table>

  <ng-template #loading>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</main>
