@use "@angular/material" as mat;
@import "~@angular/flex-layout/mq";
@import "src/app/app-theme-variables";

.mat-list-icon {
  opacity: $app-icon-opacity;
}

.mat-line-secondary {
  color: mat.get-color-from-palette($app-foreground, "secondary-text");
}

@media print {
  mat-toolbar {
    margin: 0 0 1em 0;
  }
}
