<mat-toolbar class="page-header" role="heading">
  <h1>{{ id ? "Update Medicament" : "Add Medicament" }}</h1>
</mat-toolbar>

<main>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    fxFlex
    fxLayout="column"
    fxLayoutAlign="start start"
    fxLayoutGap="1em"
  >
    <mat-error *ngIf="error">
      <span>Error: {{ error }}</span>
    </mat-error>

    <mat-form-field appearance="fill">
      <mat-label>Medicament name</mat-label>
      <input type="text" formControlName="name" id="name" placeholder="Medicamentum" matInput />
      <mat-error *ngIf="hasError('name', 'required')">Medicament name is required</mat-error>
      <mat-error *ngIf="hasError('name', '!required')">Medicament name is invalid</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Morning dose</mat-label>
      <input
        type="number"
        formControlName="doseMorning"
        id="doseMorning"
        placeholder="100"
        min="0"
        matInput
      />
      <mat-error *ngIf="hasError('doseMorning', 'required')">
        Morning dose is required
      </mat-error>
      <mat-error *ngIf="hasError('doseMorning', '!required')">
        Morning dose is invalid
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Noon dose</mat-label>
      <input
        type="number"
        formControlName="doseNoon"
        id="doseNoon"
        placeholder="0"
        min="0"
        matInput
      />
      <mat-error *ngIf="hasError('doseNoon', 'required')">Noon dose is required</mat-error>
      <mat-error *ngIf="hasError('doseNoon', '!required')">Noon dose is invalid</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Evening dose</mat-label>
      <input
        type="number"
        formControlName="doseEvening"
        id="doseEvening"
        placeholder="200"
        min="0"
        matInput
      />
      <mat-error *ngIf="hasError('doseEvening', 'required')">
        Evening dose is required
      </mat-error>
      <mat-error *ngIf="hasError('doseEvening', '!required')">
        Evening dose is invalid
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Start date</mat-label>
      <input formControlName="startDate" id="startDate" [matDatepicker]="picker" matInput />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error *ngIf="hasError('startDate', 'required')">Start date is required</mat-error>
      <mat-error *ngIf="hasError('startDate', '!required')">Start date is invalid</mat-error>
    </mat-form-field>

      <mat-checkbox
        formControlName="archived"
        id="archived"
        matInput
      >
      Archived
    </mat-checkbox>
      <mat-error *ngIf="hasError('archived', 'required')">Archived is required</mat-error>
      <mat-error *ngIf="hasError('archived', '!required')">Archived valule is invalid</mat-error>


    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">
        {{ id ? "Update" : "Add medicament" }}
      </button>

      <a mat-raised-button routerLink="/epilepsy/medicaments">Cancel</a>
    </div>
  </form>

  <ng-template #loading>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</main>
