<mat-toolbar class="page-header" role="heading">
  <h1 i18n="@@title-events">Events</h1>
</mat-toolbar>

<main>
  <app-table
    [dataSource]="dataSource"
    [displayedColumns]="columns"
    addBtnLink="/epilepsy/events/add"
    i18n-addBtnLink="@@routerLink-epilepsy-events-add"
    addBtnText="Add event"
    i18n-addBtnText="@@action-add-event"
    updateLinkPrefix="/epilepsy/events/update"
    i18n-updateLinkPrefix="@@routerLink-epilepsy-events-update"
    occurredFormat="LL"
    [loading]="loading"
    [hasMore]="hasMore"
    (onDelete)="onDelete($event)"
    (onLoadMore)="onLoadMore()"
    (onRefresh)="onRefresh()"
  ></app-table>
</main>
