@use '@angular/material' as mat;
@use '../../../app-theme-variables' as app;

:host ::ng-deep section {
  margin: 1em;
  .app-card {
    width: 80vw;
    max-width: 400px;
    .app-card-title {
      color: mat.m2-get-color-from-palette(app.$app-primary, 'text');
      font-size: mat.m2-font-size(app.$app-typography, 'headline-6');
      padding: .5em 0;

      .logo {
        padding-right: .25em;
      }
    }

    img {
      background-color: mat.m2-get-color-from-palette(app.$app-primary, 50);
      margin: 1em 0;
    }
  }
}
