<mat-toolbar class="page-header" role="heading">
  <h1>Dashboard</h1>
</mat-toolbar>

<main>
  <section class="actions" fxLayout="column" fxLayoutAlign="center stretch">
    <mat-card>
      <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around center">
        <button mat-raised-button color="warn">
          <span>Attack!</span>
        </button>
        <button mat-raised-button color="primary">
          <span>Medicament</span>
        </button>
        <button mat-raised-button color="basic">
          <span>Event</span>
        </button>
      </mat-card-content>
    </mat-card>
  </section>

  <section
    class="info"
    fxLayout="column"
    fxLayout.gt-xs="row"
    fxLayoutGap="1em"
    fxLayoutAlign="center stretch"
  >
    <mat-card class="last-seizure">
      <mat-card-title-group>
        <mat-card-title>Last seizure</mat-card-title>
        <mat-card-subtitle *ngIf="!lastSeizure">unknown</mat-card-subtitle>
        <mat-card-subtitle *ngIf="lastSeizure">{{ lastSeizure | moment:'LL' }}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <h3>Time since last seizure:</h3>
        <p *ngIf="!timeSinceLastSeizure">unknown</p>
        <p class="mat-display-3" *ngIf="timeSinceLastSeizure">
          {{timeSinceLastSeizure | humanize }}
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="medicaments">
      <mat-card-title-group>
        <mat-card-title>Current medicaments</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <mat-list fxLayout="row wrap">
          <mat-list-item *ngFor="let medicament of medicaments">
            <mat-icon mat-list-icon>medication</mat-icon>
            <div mat-line>{{ medicament.name }}</div>
            <div
              mat-line
              class="dose"
              [matTooltip]="
                medicament.doses.morning +
                ' - ' +
                medicament.doses.noon +
                ' - ' +
                medicament.doses.evening
              "
            >
              {{ medicament.doses.morning }} - {{ medicament.doses.noon }} -
              {{ medicament.doses.evening }}
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </section>
</main>
