<mat-toolbar class="page-header" role="heading">
  <h1 i18n="@@title-medications">Medications</h1>
</mat-toolbar>

<main>
  @if (error) {
    <app-error-card [error]="error" [full-size]="false"></app-error-card>
  }

  @if (!error) {
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="columns"
      addBtnLink="/epilepsy/medications/add"
      i18n-addBtnLink="@@routerLink-epilepsy-medications-add"
      addBtnText="Add medication"
      i18n-addBtnText="@@action-add-medication"
      updateLinkPrefix="/epilepsy/medications/update"
      i18n-updateLinkPrefix="@@routerLink-epilepsy-medications-update"
      [loading]="loading"
      [hasMore]="hasMore"
      (onDelete)="onDelete($event)"
      (onLoadMore)="onLoadMore()"
      (onRefresh)="onRefresh()"
      (onArchive)="onArchive($event)"
    ></app-table>
  }
</main>
